*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
assets/modules/ionicons/png/512/android-arrow-down-left.png
assets/modules/ionicons/png/512/android-chat.png
assets/modules/ionicons/png/512/android-display.png
assets/modules/ionicons/png/512/android-forums.png
assets/modules/ionicons/png/512/android-storage.png
assets/modules/ionicons/png/512/android-user-menu.png
assets/modules/ionicons/png/512/android-wifi.png
assets/modules/ionicons/png/512/arrow-up-b.png
assets/modules/ionicons/png/512/camera.png
assets/modules/ionicons/png/512/close-round.png
assets/modules/ionicons/png/512/code-download.png
assets/modules/ionicons/png/512/earth.png
assets/modules/ionicons/png/512/eye.png
assets/modules/ionicons/png/512/fork-repo.png
assets/modules/ionicons/png/512/ios7-arrow-right.png
assets/modules/ionicons/png/512/ios7-arrow-thin-right.png
assets/modules/ionicons/png/512/ios7-arrow-up.png
assets/modules/ionicons/png/512/ios7-basketball-outline.png
assets/modules/ionicons/png/512/ios7-bolt-outline.png
assets/modules/ionicons/png/512/ios7-box-outline.png
assets/modules/ionicons/png/512/ios7-briefcase.png
assets/modules/ionicons/png/512/ios7-calculator-outline.png
assets/modules/ionicons/png/512/ios7-camera-outline.png
assets/modules/ionicons/png/512/ios7-camera.png
assets/modules/ionicons/png/512/ios7-close.png
assets/modules/ionicons/png/512/ios7-cloud-download.png
assets/modules/ionicons/png/512/ios7-cloudy-night.png
assets/modules/ionicons/png/512/ios7-compose-outline.png
assets/modules/ionicons/png/512/ios7-download-outline.png
assets/modules/ionicons/png/512/ios7-download.png
assets/modules/ionicons/png/512/ios7-email-outline.png
assets/modules/ionicons/png/512/ios7-gear-outline.png
assets/modules/ionicons/png/512/ios7-gear.png
assets/modules/ionicons/png/512/ios7-help-empty.png
assets/modules/ionicons/png/512/ios7-home.png
assets/modules/ionicons/png/512/ios7-infinite-outline.png
assets/modules/ionicons/png/512/ios7-lightbulb-outline.png
assets/modules/ionicons/png/512/ios7-locked-outline.png
assets/modules/ionicons/png/512/ios7-minus.png
assets/modules/ionicons/png/512/ios7-people-outline.png
assets/modules/ionicons/png/512/ios7-photos.png
assets/modules/ionicons/png/512/ios7-plus-empty.png
assets/modules/ionicons/png/512/ios7-pricetag-outline.png
assets/modules/ionicons/png/512/ios7-printer.png
assets/modules/ionicons/png/512/ios7-redo.png
assets/modules/ionicons/png/512/ios7-refresh.png
assets/modules/ionicons/png/512/ios7-rewind-outline.png
assets/modules/ionicons/png/512/ios7-search.png
assets/modules/ionicons/png/512/ios7-settings.png
assets/modules/ionicons/png/512/ios7-skipforward-outline.png
assets/modules/ionicons/png/512/ios7-tennisball-outline.png
assets/modules/ionicons/png/512/ios7-tennisball.png
assets/modules/ionicons/png/512/ios7-time.png
assets/modules/ionicons/png/512/ios7-upload-outline.png
assets/modules/ionicons/png/512/ios7-videocam-outline.png
assets/modules/ionicons/png/512/model-s.png
assets/modules/ionicons/png/512/more.png
assets/modules/ionicons/png/512/navigate.png
assets/modules/ionicons/png/512/no-smoking.png
assets/modules/ionicons/png/512/paper-airplane.png
assets/modules/ionicons/png/512/paperclip.png
assets/modules/ionicons/png/512/pinpoint.png
assets/modules/ionicons/png/512/planet.png
assets/modules/ionicons/png/512/play.png
assets/modules/ionicons/png/512/shuffle.png
assets/modules/ionicons/png/512/social-android.png
assets/modules/ionicons/png/512/social-facebook.png
assets/modules/ionicons/png/512/social-google-outline.png
assets/modules/ionicons/png/512/social-instagram.png
assets/modules/ionicons/png/512/social-wordpress.png
assets/modules/ionicons/png/512/thermometer.png
assets/modules/ionicons/png/512/wineglass.png
assets/modules/ionicons/src/android-bus.svg
assets/modules/ionicons/src/android-cart.svg
assets/modules/ionicons/src/android-desktop.svg
assets/modules/ionicons/src/android-done-all.svg
assets/modules/ionicons/src/android-expand.svg
assets/modules/ionicons/src/android-lock.svg
assets/modules/ionicons/src/android-menu.svg
assets/modules/ionicons/src/android-person.svg
assets/modules/ionicons/src/android-subway.svg
assets/modules/ionicons/src/arrow-expand.svg
assets/modules/ionicons/src/battery-empty.svg
assets/modules/ionicons/src/bonfire.svg
assets/modules/ionicons/src/camera.svg
assets/modules/ionicons/src/chatbox-working.svg
assets/modules/ionicons/src/checkmark-round.svg
assets/modules/ionicons/src/clipboard.svg
assets/modules/ionicons/src/coffee.svg
assets/modules/ionicons/src/eye.svg
assets/modules/ionicons/src/folder.svg
assets/modules/ionicons/src/help.svg
assets/modules/ionicons/src/icecream.svg
assets/modules/ionicons/src/ios-barcode-outline.svg
assets/modules/ionicons/src/ios-calendar.svg
assets/modules/ionicons/src/ios-chatboxes.svg
assets/modules/ionicons/src/ios-chatbubble.svg
assets/modules/ionicons/src/ios-circle-filled.svg
assets/modules/ionicons/src/ios-clock-outline.svg
assets/modules/ionicons/src/ios-clock.svg
assets/modules/ionicons/src/ios-cloud-download.svg
assets/modules/ionicons/src/ios-cloud-upload-outline.svg
assets/modules/ionicons/src/ios-contact-outline.svg
assets/modules/ionicons/src/ios-fastforward-outline.svg
assets/modules/ionicons/src/ios-flask-outline.svg
assets/modules/ionicons/src/ios-game-controller-b.svg
assets/modules/ionicons/src/ios-glasses-outline.svg
assets/modules/ionicons/src/ios-help-empty.svg
assets/modules/ionicons/src/ios-lightbulb-outline.svg
assets/modules/ionicons/src/ios-partlysunny.svg
assets/modules/ionicons/src/ios-person.svg
assets/modules/ionicons/src/ios-pricetag.svg
assets/modules/ionicons/src/ios-recording.svg
assets/modules/ionicons/src/ios-speedometer-outline.svg
assets/modules/ionicons/src/ios-star-outline.svg
assets/modules/ionicons/src/ios-sunny.svg
assets/modules/ionicons/src/ios-wineglass-outline.svg
assets/modules/ionicons/src/laptop.svg
assets/modules/ionicons/src/man.svg
assets/modules/ionicons/src/person-add.svg
assets/modules/ionicons/src/pricetag.svg
assets/modules/ionicons/src/ribbon-a.svg
assets/modules/ionicons/src/skip-forward.svg
assets/modules/ionicons/src/social-bitcoin-outline.svg
assets/modules/ionicons/src/social-buffer.svg
assets/modules/ionicons/src/social-vimeo-outline.svg
assets/modules/ionicons/src/social-youtube.svg
assets/modules/ionicons/src/thermometer.svg
assets/modules/ionicons/src/toggle-filled.svg
assets/modules/ionicons/src/trophy.svg
assets/modules/ionicons/src/upload.svg
