.card-stat {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
    border-radius: 0.50rem;
}

.card-stat:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.card-stat-body {
    text-align: center;
    padding: 10px;
    background-color: #fffffff5;
    border-radius: 0.50rem;
}

.card-stat-title {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.stat {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Emboss effect */
}

.stat-label {
    color: #777;
}